.header {
	box-shadow: 3px 3px 3px 3px #888888;
	height: 100px;
	width: 100%;
	background-color: lightblue;
	position: absolute;
	top: 0;
}

.lijst {
	overflow: auto;
	padding: 15px;
	margin: 15px;
}

.num1 {
	float: left;
	margin-right: 10px;
	padding-right: 5px;
	border-right: 2px solid white;
}

.num2 {
	float: left;
	margin-right: 10px;
	padding-right: 5px;
	border-right: 2px solid white;
}

.num3 {
	float: left;
	margin-right: 10px;
	padding-right: 5px;
	border-right: 2px solid white;
}

/* Made by Jurgen  */