html,
body {
	margin: 0;
	padding: 0;
	height: 97%;
	background-repeat: no-repeat;
	background-size: cover;
}

.contentDiv {
	border-style: solid;
}

/* LOGIN */

.index {
	width: 50%;
	height: 50%;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

	border: 2px solid grey;
}

.login {
	width: 100%;
	height: 100%;
	text-align: center;
}

.form {
	width: 100%;
	height: 50%;
	margin: 0 auto;
	font-size: large;
	font-weight: bold;
}

.form .input {
	width: 600px;
	height: 40px;
	font-size: large;
	transition-duration: 0.5s;
}

.form .input:hover {
	width: 650px;
	height: 45px;
	box-shadow: 10px 10px 5px grey;
	transition-duration: 0.5s;
}

.form .loginbtn {
	height: 35px;
	width: 120px;
	background-color: #DBDADA;
	transition-duration: 0.7s;
}

.form .loginbtn:hover {
	height: 45px;
	width: 140px;
	background-color: #ACACAC;
	cursor: pointer;
	font-weight: bold;
	transition-duration: 0.7s;
}

.form .loginbtn:active {
	height: 45px;
	width: 140px;
	color: white;
	font-weight: bold;
	transition-duration: 0.1s;
}

/* Made by Jurgen & Chiel */
